// FONT SIZE
$h9: 10px;
$h8: 12px;
$h7: 13px;
$h6: 14px;
$h5: 16px;
$h4: 18px;
$h3: 20px;
$h2: 24px;
$h1: .42rem;

//TEXT COLOR
$txtDark: #000;
$txtGrey1: #9b9b9b;
$txtGrey2 : #949494;
$txtGrey3: #4a4a4a;
$txtLight: #e9e9e9;
$txtWhite: #fff;
$txtRed: #fb4226;
$txtBlue: #337ab7;
$txtGreen: #7ed322;
$txtDarkGreen: #108f3e;

// BACKGROUND COLOR
$white: #fff;
$black: #000;
$dark: #222;
$darkGreen: #0a2029;
$darkGrey: #4a4a4a;
$grey: #9b9b9b;
$light: #e9e9e9;
$bright: rgba(246,246,246,.5);
$red: #fb4226;
$darkRed: #ce3017;
$green: #7ed322;
$blue: #337ab7;
$lightBlue: #60c5ef;
$dark70: rgba(34, 34, 34, 0.7);

//FONT WEIGHT
$fwLight: 300;
$fwMedium: 400;
$fwRegular: 500;
$fwBold: 700;