.info-review {
    background-color: transparent;
  
    .nav-tabs {
      border: none;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;
  
      .nav-link {
        border: none;
        background-color: transparent;
        @include Text($txtWhite, $h3, $fwMedium);
  
        &.active {
          color: $txtRed;
        }
  
        &:not(.active):hover {
          transform: scale(1.1);
          transition: all .3s;
        }
      }
    }
  
    .tab-content {
      padding-bottom: 100px;
      .tab-pane--1 {
        .info-review__info {
          width: 100%;
          @include flex(row, center, start);
          flex-wrap: wrap;
          @include Text($txtWhite, $h6, $fwMedium);
  
          .info-review__info__detail {
            width: 50%;
            @include Text($txtWhite, $h6, $fwMedium);
            @include flex(row, space-between, start);
  
            ul {
              list-style-type: none;
              width: 50%;
            }
  
            ul:nth-child(1) {
              li {
                font-weight: $fwRegular;
                padding: 0px;
                margin-bottom: 20px;
              }
            }
            ul:nth-child(2) {
              li {
                padding: 0px;
                margin-bottom: 20px;
              }
            }
          }
  
          .info-review__info__summary {
            width: 50%;
            h3 {
              @include Text($txtWhite, $h6, $fwRegular);
              margin-bottom: 20px;
            }
          }
  
          .info-review__info__news {
            width: 100%;
            padding-top: 50px;
            img {
              width: 100%;
            }
  
            & > p {
              font-weight: $fwRegular;
              margin: 0px 0 20px 0;
            }
  
            .info-review__info__news__item {
              width: 276px;
              @include Text($txtWhite, $h5, $fwRegular);
  
              .info-review__item__like {
                margin-right: 20px;
              }
            }
          }
        }
      }
      .tab-pane--2 {
        .info-review__review {
          max-width: 580px;
          margin: auto;
          .info-review__review__comment {
            padding: 10px 20px;
            width: 100%;
            background-color: $white;
            border-radius: 5px;
            margin-bottom: 20px;
            & > i {
              font-size: 36px;
              color: $light;
              margin-right: 5px;
            }
  
            .modal-header{
              button:hover {
                background-color: transparent;
                color: $dark;
                outline: none;
              }
            }
  
            input {
              height: 36px;
              border: none;
              @include Text($txtGrey1, $h6, $fwMedium);
              margin-right: auto;
              width: 370px;
              outline: none;
            }
  
            .starts {
              i {
                font-size: 24px;
                padding: 6px 0;
                color: $red;
                opacity: 0.5;
              }
            }
          }
  
          .info-review__comment__list {
            .card {
              padding: 0;
              .card-header {
                align-items: center;
                padding-bottom: 0;
                i {
                  font-size: 24px;
                  color: $grey;
                  margin-right: 10px;
                }
  
                .user__info {
                  p {
                    margin: 0;
                    &:nth-child(1) {
                      @include Text($txtDark, $h6, $fwBold);
                    }
    
                    &:nth-child(2) {
                      @include Text($txtGrey1, $h9, $fwMedium);
                    }
                  }
                }
  
                .score {
                  p {
                    @include Text($txtGreen, $h5, $fwRegular);
                    margin-bottom: -5px;
                    text-align: center;
                  }
  
                  i {
                    font-size: 8px;
                    margin-right: -3px;
                    color: $red;
                  }
  
                  img {
                    height: 8px;
                  }
                }
              }
  
              .card-body {
                .card-text {
                  @include Text($txtGrey3, $h6, $fwMedium);
                  margin: 0;
                  max-height: 85px;
                  overflow: hidden;
                }
                
                .card-text__moreLess {
                    margin: 0;
                    @include Text($txtRed, $h6, $fwMedium);
                    cursor: pointer;
                  }
              }
  
              .card-footer {
                @include Text($txtGrey3, $h6, $fwMedium);
              }
            }
          }
        }
        button {
          box-shadow: none;
  
          &:hover {
            background-color: $red;
            color: $txtWhite;
            border:none;
            box-shadow: none;
          }
        }
      }
    }
  
    @media (max-width: 767.98px) {
      .tab-content {
        .tab-pane {
          .info-review__info {
            .info-review__info__detail {
              width: 100%;
            }
  
            .info-review__info__summary {
              width: 100%;
              text-align: justify;
              text-align-last: left;
            }
  
            .info-review__info__news {
              .info-review__info__news__item {
                width: 100%;
  
                .info-review__item__like,
                .info-review__item__comment {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }