.header {
  box-sizing: border-box;
  width: 100%;

  &__navbar {
      width: 100%;
      height: 60px;
      @include flex(row, start, center);     
      flex-wrap: nowrap;
      padding: 0 20px;
      background-color: rgba(255, 255, 255, 0.7);    
      
      &__logo {

        img {
          width: 50px;
        }

      }

      &__menuBtn {
          display: none;
      }

      &__navbar-collapse {
          flex-grow: 1;
          @include flex(row, flex-end, center);

          &__items {
              @include positionCenter();
              display: flex;

              .nav-link {
                @include Text($txtDark, $h6, $fwRegular);
                padding: 0;
                margin-right: 20px;
    
                &:hover {
                    color: $txtRed;
                }
              }
          }
      
          &__signIn {
              @include flex(row, flex-end, center);
  
              i {
                color: $grey;
                margin-right: 10px;
              }
    
              a {
                @include Text($txtGrey1, $h7, $fwMedium);
                padding: 5px 10px 5px 0;
                border-right: 1px solid $grey;
              }
    
              &__closeBtn {
                display: none;
              }
          }   
      
          &__location {

              &__btn {
                @include Text($txtGrey1, $h7, $fwMedium);
                display: flex;
                align-items: center;
                text-transform: capitalize;
                text-align: left;
                width: 180px;

                &:focus {
                  outline: none;
                  box-shadow: none;
                }

                span {
                  display: inline-block;
                  margin-right: auto;
                  margin-left: 10px;
                }
              }
    
              &__menu {

                &__container {
                  height: 300px;
                  overflow-y: scroll;
                }

                .dropdown-item {
                  text-transform: capitalize;
                  padding: 3px 20px;
                  @include Text($txtDark, $h6, $fwMedium);
  
                  &.active {
                      background-color: transparent;
                  }
  
                  &:hover {
                      background-color: $lightBlue;
                  }
                }
              }
          }        
      }
  }

  @media (max-width: 991.98px) {
      &__navbar__navbar-collapse__items {
          display: none;
      }
  }
  
  @media (max-width: 767.98px) {
      &__navbar {
          &__logo {  
              @include flex(row, space-between, center);
              margin-right: auto; 
          }

          &__menuBtn {
              display: block;
              color: $dark;
              font-size: 30px;
          }

          &__navbar-collapse-bg {
              @include position(fixed, 0, 0, 9);
              width: 100%;
              height: 100%;
              background-color: $dark;
              opacity: 0.5;
              display: none;
          }
    
          &__navbar-collapse {
              background-color: $white;
              width: 70%;
              height: 100%;
              @include flex(column, flex-start, flex-start);
              @include position(fixed, 0, 100%, 10);
              transition: all 0.5s;
  
              &__items {
                  display: block;
                  @include position(relative, 0, 0, 10);
                  transform: none;

                  .nav-link {
                      @include Text($txtDark, $h4, $fwRegular);
                      padding: 20px;
                  }
              }
          
              &__signIn {
                  width: 100%;
                  padding: 10px;
                  justify-content: start;
      
                  i {
                    color: $grey;
                    margin-right: 10px;
                  }
        
                  a {
                      @include Text($txtDark, $h6, $fwRegular);
                      border-right: none;
                  }
        
                  &__closeBtn {
                    display: block;
                    margin-left: auto;
                  }
              }   
          
              &__location {
  
                  &__btn {
                      @include Text($txtDark, $h4, $fwRegular);
                      padding: 20px;
                      text-align: left;  
                      
                      i {
                          display: none;
                      }
                      
                      span {
                        margin: 0;
                      }

                      &::after {
                          display: none;
                      }  
                  }
        
                  &__menu {
                      @include position(fixed, 0, 0, 11);
                      background-color: $dark70;
                      width: 100%;
                      height: 100%;
                      padding: 30px 0;
                      margin: 0;
                      border-radius: 0;
                      border: none;

                    &__container {
                      background-color: $white;
                      width: 80%;
                      height: 100%;
                      margin: auto;
                      border-radius: 10px;
                      padding: 40px 20px;
                    }

                    .dropdown-item {
                      width: 100%;
                      text-align: center;
                      @include Text($txtDark, $h5, $fwRegular);
                      border-bottom: 1px solid $light;
                      padding: 10px 0;
  
                      &.active,
                      &:active {
                      background-color: transparent;
                      }
                    }
                  }
              }        
          }
      }
  }   
}