.nav {
    border: none;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .nav-item{
      // để đè nav-link của bootstrap
      border: none;
      background-color: transparent;
      line-height: 24px;
      @include Text($txtDark, $h4, $fwRegular);
    }

    .nav-item {
      &.nav-link.active {
        color: $txtRed;
        background-color: transparent;
        font-size: $h2;
      }

      &:not(.active):hover {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }
}



